html {
  width: 100%;
  font-size: 18px;
}

body {
  margin: 0 auto;
  background-color: hsl(28, 30%, 97%);
  font-family: 'Hammersmith One', sans-serif;
  position: relative;
}

.errMessage {
  color: red;
  width: 100%;
  border: 2px solid red;
  padding: 1rem;
}

a,
p {
  text-decoration: none;
  color: hsl(19, 56%, 40%);
}
p {
  width: 50%;
  margin-bottom: 4rem;
  text-align: center;
}

.button-links,
button {
  font-family: 'Hammersmith One', sans-serif;
  margin: 5px;
  background-color: white;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 3px rgba(255, 119, 0, 0.685);
  color: hsl(19, 56%, 40%);
}

/* input fields on scale setup page - want these to show up next to number button */
.inline-input {
  display: inline-block;
  height: 2.2rem;
  width: 15rem;
}

main {
  /* background-color:hsl(28, 30%, 97%); */
  background-color: hsl(28, 100%, 97%);
  border-left: solid 9px hsl(28, 30%, 94%);
  border-right: solid 9px hsl(28, 30%, 94%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  padding-top: 2rem;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 5rem;
  margin-top: 2rem;
  color: hsl(19, 56%, 40%);
  text-transform: uppercase;
}

h2 {
  text-align: left;
  color: hsl(19, 56%, 70%);
}

.hidden {
  display: none;
}

/* PARTIALS */
/* TOP NAV */
#top-nav {
  background-color: white;
  text-transform: uppercase;
  width: 100%;
  position: fixed;
  height: 4rem;
  z-index: 100;
}

.top-nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-nav-list li {
  text-transform: uppercase;
  list-style-type: none;
  margin: 0rem 1.8rem;
  font-size: 1.2rem;
  color: hsl(19, 56%, 70%);
}

#user-options {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.profile-links {
  min-width: 10rem;
  min-height: 10rem;
  width: 6em;
  padding: 0.2em;
  line-height: 1.4;
  background-color: rgb(255, 255, 255);
  color: hsl(19, 56%, 40%);
  box-shadow: 0px 3px 3px rgba(255, 119, 0, 0.685);
  text-decoration: none;
  text-align: center;
}

ul {
  padding-top: 1.2rem;
  margin-bottom: 4rem;
  padding-left: 0;
}

.expand,
.factDelete,
.sympDelete {
  padding: 0.5rem;
  width: 100%;
  display: block;
  text-align: left;
  position: relative;
}
.factDelete,
.sympDelete {
  width: 18rem;
}

.addDataUl {
  width: 95%;
}

.commentBox {
  width: 100%;
  font-size: 0.8rem;
  padding: 0.8rem;
  text-align: left;
  background: hsl(28, 30%, 94%);
}
i {
  position: absolute;
  right: 15px;
}

.fa {
  color: rgba(250, 117, 0, 0.993);
}

.fa-exclamation-triangle {
  display: block;
  width: 100%;
  padding-top: 2rem;
  padding-left: 0.8rem;
  position: relative;
  text-align: center;
}

li {
  list-style-type: none;
}
form {
  width: 20rem;
}
.formLables {
  color: hsl(19, 56%, 40%);
  font-size: 1.5rem;
}

.textInput {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  padding: 0.7rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-family: 'Hammersmith One', sans-serif;
  color: hsl(19, 56%, 40%);
}

.textInput:focus {
  outline: none;
  border: 2px solid hsl(19, 56%, 80%);
}

#correl {
  position: absolute;
  left: 1rem;
  letter-spacing: 0.6rem;
}

.sliders {
  width: 13rem;
  height: 1rem;
  outline: none;
  margin: 0;
  -webkit-appearance: none;
  border-radius: 5px;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border: 2px solid lightsalmon;
}

.sliders::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: orange;
  cursor: pointer;
  box-shadow: inset 2px -6px 7px rgb(250, 117, 0);
}

.scaleNumber {
  font-size: 1.3rem;
  height: 5rem;
  padding: 0.3rem;
  margin: 0.6rem;
  margin-left: 1.5rem;

  text-align: center;
  color: hsl(19, 56%, 40%);
}

/* help button */
.help {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: fixed;
  bottom: 75px;
  right: 75px;
  color: hsl(19, 98%, 48%);
  transition: 2s;
  font-size: 4rem;
}

.error__desc {
  width: 100%;
}

.error__msg {
  display: block;
}

/* MODAL */
#modal {
  border: 2px solid lightgrey;
  display: none;
  z-index: 10;
  position: fixed;
  background-color: #fffcf9;
  padding: 2rem;
  top: 5%;
  height: fit-content;
  width: 60%;
  overflow: scroll;
  padding-bottom: 1%;
  text-align: center;
  margin-top: 5rem;
}

#modal p {
  width: initial;
  margin-bottom: 1.2rem;
}

#modal h1 {
  margin-bottom: 0;
  margin-top: 0;
}

#modal i {
  position: initial;
  right: 0;
}

#overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 1;
}

.instructions {
  border: solid 2px lightgray;
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-height: 310px;
  overflow: scroll;
}

.instructions-1-img {
  width: 90%;
  max-width: 330px;
}

.instructions-2-img {
  width: 65%;
  max-width: 180px;
}

.instructions-3-img {
  width: 55%;
  max-width: 130px;
}

#close-modal {
  left: 0;
  top: 0;
  position: absolute;
  padding: 0.4rem 0.6rem;
}

.help:hover {
  color: hsl(19, 98%, 80%);
  transform: scale(1.3);
}

.home-image {
  width: 50%;
}

.scale-buttons {
  margin: 2px;
  width: 2rem;
}
