html {
  width: 100%;
  font-size: 18px;
}

body {
  margin: 0 auto;
  background-color:hsl(28, 30%, 97%);
  /* color: gray; */
  color: 	hsl(19, 56%, 40%);
  /* color:hsl(9, 100%, 64%); */
  /* color:hsl(248, 39%, 39%); */
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Hammersmith One', sans-serif;
}

h1{
  margin-bottom: 4rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.fa {
 color: rgba(250, 117, 0, 0.993);
}
.button-links, button {
  margin: 5px;
  background-color: white;
  font-size: 1.2rem;
  padding: .5rem .5rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 3px rgba(255, 119, 0, 0.685);
}

input {
  display: block;
  padding: .8rem;
  margin: .4rem;
}
/* input fields on scale setup page - want these to show up next to number button */
.inline-input {
  display: inline-block;
}

main {
  /* background-color:hsl(28, 30%, 97%); */
  background-color: hsl(28, 100%, 97%);
  border-left: solid 9px hsl(28, 30%, 94%);
  border-right: solid 9px hsl(28, 30%, 94%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 2rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  list-style-type: none;
}

h1 {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}

/* PARTIALS */
/* TOP NAV */
#top-nav {
  background-color: white;
  text-transform: uppercase;
  width: 100%;
  position: fixed;
}

.top-nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-nav-list li {
  text-transform: uppercase;
  list-style-type: none;
  margin: 0rem 0.5rem;
}

#top-nav-img {
  margin-right: auto;
}

#top-nav-img img {
  max-height: 2.5rem;
}

#bottom-nav {
  position: fixed;
  background-color: white;
  width: 100%;
  bottom: 0;
}

#user-options {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.profile-links, .profile-links:visited {
  min-width: 10rem;
  min-height: 10rem;
  width: 6em;
  padding: 0.2em;
  line-height: 1.4;
  background-color: rgb(255, 255, 255);
  color: 	hsl(19, 56%, 40%);
  box-shadow: 0px 3px 3px rgba(255, 119, 0, 0.685);
  text-decoration: none;
  text-align: center;
}

.profile-links:hover {
  background-color:rgba(255, 119, 0, 0.363);
  color: #fff;
}


/* MODAL */
#modal {
  border: 2px solid lightgrey;
  display: none;
  z-index: 10;
  position: fixed;
  background-color: #fffcf9;
  padding: 2rem;
  top: 5%;
  height: fit-content;
  width: 60%;
  overflow: scroll;
  padding-bottom: 1%;
}

#overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
}

/* modal */

.one {
  z-index: 1;
}


.box {
  width:300px;
  height:500px;
  position:absolute;
}

/* #next {
  float:right;
}

#back {
  float:right;
} */

.instructions {
  border: solid 2px lightgray;
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-height: 310px;
  overflow: scroll;
}

.instructions-1-img {
  width: 90%;
  max-width: 330px;
}

.instructions-2-img {
  width: 65%;
  max-width: 180px;
}

.instructions-3-img {
  width: 55%;
  max-width: 130px;
}

#close-modal {
  left: 0;
  top: 0;
  position: absolute;
}