<h1>What factor would you like to track?</h1>

<form action="/factors/add" method="POST">
  <input class="textInput" aria-label="Factor to track" type="text" name="factor" placeholder="Enter factor" required>
  <a href="/profile" class="button-links">Back</a>
  <button type="submit" name="button" class="add">Add</button>
</form>