<h1>Factor Home</h1>

<h2>Factors You're Tracking</h2>
<ul>
  {{#each factorsList}}
  <li class="factors-list">
    <p>{{this.factor}}</p>
    <button class="delete">Delete</button>
  </li>
  {{/each}}
</ul>

<a href="/factors/add" class="button-links">Add New Factor</a>
<a href="/profile" class="button-links">Back</a>