<h1>What factor would you like to track?</h1>
<form class="" action="" method="post">
  <input type="text" placeholder="Enter factor"></input>
  <button class="add">Add</button>
  <a href="home">back</a>
  <a href="scaleInfo">next</a>
  <button type="submit" name="button">button</button>
</form>
