<section class="sympFactHome--section">
  <h1 class="title">Factor Home</h1>

  <h2 class="subheading">Factors You're Tracking</h2>
  <ul class="sympFactHome--list">
    {{#each factorsList}}
    <li class="list--item">
      <button class="delete button factHome--delete-js" id="delete-{{this.factor}}">
        {{this.factor}}
        <i class="fa fa-trash" id='bin-{{this.factor}}'></i>
      </button>
    </li>
    {{/each}}
  </ul>
  <span class="sympFact--container-btns">
    <a href="/factors/add" class="button-links">Add New Factor</a>
    <a href="/profile" class="button-links">Go Back</a>
  </span>
</section>