<section class="sympFactAdd">
  <h1 class="title">What Factor would you like to track?</h1>
  <form class="form" action="/factors/add" method="POST">
    <input class="form--input form--input-placeholder" aria-label="Factor to track" type="text" autocomplete='off' name="factor"
      placeholder="Enter factor" required>
    <a href="/profile" class="button-links">Back</a>
    <button type="submit" name="button" class="button">Add</button>
  </form>
</section>