<h1>scale setup</h1>

<form action="/factors/scaleSetup" method="POST" id="setUpScale">
  {{#times 10}}
  <div>
    <button id="factor-{{this}}" class="scale-buttons" type="button">{{this}}</button>
    <input name="{{this}}" type="text" class="inline-inputs hidden">
  </div>
  <br> {{/times}}
  <button type="submit" id="add">save & finish</button>

</form>

<a href="scaleInfo" class="button-links">Back</a>