<section class="sympFactScaleInfo--section">
  <h1 class="title">Customise Your Scale</h1>
  <p>Adding comments to your scale will help you to remember what the numbers mean to you. We advise leaving at least two comments.</p>
  <span class="sympFact--container-btns padding-top2rem">
    <a href="add" class="button-links">Go Back</a>
    <a href="scaleSetup" class="button-links">Next</a>
  </span>
</section>