<h1>What factor would you like to track?</h1>
<form action="/factors/add" method="POST">
  <input type="text" name="factor" placeholder="Enter factor"></input>
  <a href="/symptoms/home">back</a>
  <button type="submit" name="button" class="add">Add</button>
</form>