<h1>Log In</h1>
<section>
  <form action="index.html" method="post">
    <label for="login">Login:
      <input id="login" type="login" />
    </label>
    <label for="password">Password:
      <input id="logPassword" type="password"/>
    </label>
    <p class="error" aria-live="polite"></p>
    <button>Submit</button>
  </form>
</section>
