<h1>profile</h1>
<div id="user-options">
  <a class="profile-links" href="/symptoms/home">
    <br>
    <br>
    <img src="/assets/redcross.png" alt="">
    <br> Add/Delete Symptoms
  </a>
  <a class="profile-links" href="/factors/home">
    <br>
    <br>
    <img src="/assets/exercise.png" alt="">
    <img src="/assets/sleep.png" alt="">
    <img src="/assets/food.png" alt="">
    <br>
    <br>
    <br> Add/Delete Factors</a>

  <a class="profile-links" href="/addData">
    <br>
    <br>
    <br>
    <img src="/assets/scale.png" alt="">
    <br>
    <br> Enter Today's Data</a>
  <a class="profile-links" href="/seeData">
    <br>
    <br>
    <img src="/assets/smallGraph.png" alt="">
    <br> See Data</a>
</div>