<section class="profile--section">
  <h1 class="title">profile</h1>
  <div class="profile--options">
    <a class="profile--links" href="/symptoms/home">
      <div class="profile--container-img">
        <img src="/assets/redcross.png" alt="">
      </div>
      <p class="profile--text">Add/Delete Symptoms</p>
    </a>
    <a class="profile--links" href="/factors/home">
      <div class="profile--container-img">
        <div>
          <img src="/assets/exercise.png" alt="">
          <img src="/assets/sleep.png" alt="">
          <img src="/assets/food.png" alt="">
        </div>
      </div>
      <p class="profile--text"> Add/Delete Factors</p>
    </a>
    <a class="profile--links" href="/addData">
      <div class="profile--container-img">
        <img src="/assets/scale.png" alt="">
      </div>
      <p class="profile--text">Enter Today's Data</p>
    </a>
    <a class="profile--links" href="/seeData">
      <div class="profile--container-img">
        <img src="/assets/smallGraph.png" alt="">
      </div>
      <p class="profile--text">See Data</p>
    </a>
  </div>
</section>