<h1>profile</h1>

<a class="test" href="/factors/add">ADD/DEL FACTOR</a>
<a class="test" href="/addData">INPUT DATA</a> 
<a class="test" href="/seeData">SEE DATA</a>
<a class="test" href="/symptoms/add">ADD/DEL SYMPTOM</a>
