<h1>profile</h1>
<div id="user-options">
  <a class="profile-links" href="/symptoms/home">Add/Delete Symptoms</a>
  <a class="profile-links" href="/factors/home">Add/Delete Factors</a>
  <a class="profile-links" href="/addData">Enter Today's Data</a>
  <a class="profile-links" href="/seeData">See Data</a>
</div>