<h1>Register</h1>
<section class="signup">

   <form action="/register" method="POST" class="signup__form" novalidate>
     <label for="username">Username:
       <input id="username" type="text" name="username" required/>
     </label>
     <label for="password">Password:
       <input id="password" type="password" name="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" />
     </label>
     <label for="confirmPassword">Confirm password:
       <input id="confirmPassword" type="password" name="confirmPassword" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" />
     </label>
     <p class="error" aria-live="polite"></p>
     <button id="register-button">Submit</button>
   </form>
 </section>
<script src="/register.js"></script>
