<h1>Register</h1>
<form method="POST" action="/register">
  Username
  <input type="text" name="username"> Password
  <input type="text" name="confirm-password"> Confirm Password
  <input type="text" name="password">
  <button type="submit" id="register-button">Submit</button>
</form>