<h1>Register</h1>
<section class="signup">

   <form class="signup__form" novalidate>
     <label for="email">Email:
       <input id="email" type="email" required/>
     </label>
     <label for="password">Password:
       <input id="password" type="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" />
     </label>
     <label for="confirmPassword">Confirm password:
       <input id="confirmPassword" type="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" />
     </label>
     <p class="error" aria-live="polite"></p>
     <button>Submit</button>
   </form>
 </section>

<script src="../public/dom.js" type="text/javascript"></script>
