<h1>Symptoms Home</h1>

<h2>Symptoms You're Tracking</h2>
<ul>
  {{#each symptomsList}}
  <li>
    <p id="{{this.symptom}}">{{this.symptom}}</li>
  <button class="sympDelete" id="delete-{{this.symptom}}">
    <i class="fa fa-trash"></i>

  </button>
  </li>
  {{/each}}
</ul>

<span>
  <a href="/profile" class="button-links">Go Back</a>
  <a href="add" class="button-links">Add New Symptom</a>
</span>