<h1>Symptoms Home</h1>

<h2>Symptoms You're Tracking</h2>
<ul>
  {{#each symptomsList}}
    <li class="symptoms-list">
      <p>{{this}}</p>
      <button class="delete">Delete</button>
    </li>
  {{/each}}
</ul>

<button id="back">Back</button>
<a href="add">next</a>
