<h1>scale setup</h1>

<form action="/symptoms/scaleSetup" method="POST" id="setUpScale">
  {{#times 10}}
  <div>
    <button id="symptom-{{this}}" class="scale-buttons" type="button">{{this}}</button>
    <input type="text" class="inline-input hidden" name="{{this}}">
  </div>
  <br> {{/times}}
  <button class="add" type="submit">Save &amp; Finish</button>
</form>

<a href="/scaleInfo" class="button-links">Go Back</a>