<h1>Symptoms Home</h1>

<h2>Symptoms You're Tracking</h2>
<ul>
  {{#each symptomsList}}
  <li>
    <p id="{{this.symptom}}">{{this.symptom}}</p>
    <button class="delete" id="delete-{{this.symptom}}">Delete</button>
  </li>
  {{/each}}
</ul>

<a href="/profile">Back</a>

<a href="add">add new symptom</a>