<h1>scale setup</h1>

<form action="/symptoms/scaleSetup" method="post">
  <span role="button">
    <label for="1">1</label>
  </span>
  <input type="text" class="scale-comments" id="1">
  <br>
  <span role="button">
    <label for="2">2</label>
  </span>
  <input type="text" class="scale-comments" id="2">
  <br>

  <span role="button">
    <label for="3">3</label>
  </span>
  <input type="text" class="scale-comments" id="3">
  <br>

  <span role="button">
    <label for="4">4</label>
  </span>
  <input type="text" class="scale-comments" id="4">
  <br>

  <span role="button">
    <label for="5">5</label>
  </span>
  <input type="text" class="scale-comments" id="5">
  <br>

  <span role="button">
    <label for="6">6</label>
  </span>
  <input type="text" class="scale-comments" id="6">
  <br>

  <span role="button">
    <label for="7">7</label>
  </span>
  <input type="text" class="scale-comments" id="7">
  <br>

  <span role="button">
    <label for="8">8</label>
  </span>
  <input type="text" class="scale-comments" id="8">
  <br>

  <span role="button">
    <label for="9">9</label>
  </span>
  <input type="text" class="scale-comments" id="9">
  <br>

  <span role="button">
    <label for="10">10</label>
  </span>
  <input type="text" class="scale-comments" id="10">
  <br>






</form>