<h1>Customise Your Scale</h1>
<p>Adding comments to your scale will help you to remember what the numbers mean to you. We advise leaving at least two comments.</p>
<a href="/symptoms/add" class="button-links">back</a>
<a href="scaleSetup" class="button-links">next</a>