<h1>What symptom would you like to track?</h1>

<form action="/symptoms/add" method="POST">
  <input type="text" name="symptom" class="inline-input" placeholder="Enter symptom" required>
  <button type="submit" name="button" class="add">Next</button>
  <a href="/profile" class="button-links">Back</a>

</form>