<section class="sympHome--section">
  <h1 class="title">Symptoms Home</h1>

  <h2 class="subheading">Symptoms You're Tracking</h2>
  <ul class="sympHome--list">
    {{#each symptomsList}}
    <li class="list--item">

      <button class="delete button sympHome--delete-js" id="delete-{{this.symptom}}">
        {{this.symptom}}
        <i class="fa fa-trash" id='bin-{{this.symptom}}'></i>

      </button>
    </li>
    {{/each}}
  </ul>

  <span class="sympHome--container-btns">
    <a href="/profile" class="button-links">Go Back</a>
    <a href="add" class="button-links">Add New Symptom</a>
  </span>
</section>