<h1>scale setup</h1>

<form action="/symptoms/scaleSetup" method="post" id="setUpScale">
  <span id="symptom-1" role="button">
    <label for="1">1</label>
  </span>
  <input type="text" class="scale-comments hidden">
  <br>

  <span id="symptom-2" role="button">
    <label for="2">2</label>
  </span>
  <input type="text" class="scale-comments hidden">
  <br>

  <span id="symptom-3" role="button">
    <label for="3">3</label>
  </span>
  <input type="text" class="scale-comments hidden">
  <br>
  <span id="symptom-4" role="button">
    <label for="4">4</label>
  </span>
  <input type="text" class="scale-comments hidden">
  <br>
  <span id="symptom-5" role="button">
    <label for="5">5</label>
  </span>
  <input type="text" class="scale-comments hidden">
  <br>
  <span id="symptom-6" role="button">
    <label for="6">6</label>
  </span>
  <input type="text" class="scale-comments hidden">
  <br>
  <span id="symptom-7" role="button">
    <label for="7">7</label>
  </span>
  <input type="text" class="scale-comments hidden">
  <br>
  <span id="symptom-8" role="button">
    <label for="8">8</label>
  </span>
  <input type="text" class="scale-comments hidden">
  <br>
  <span id="symptom-9" role="button">
    <label for="9">9</label>
  </span>
  <input type="text" class="scale-comments hidden">
  <br>
  <span id="symptom-10" role="button">
    <label for="10">10</label>
  </span>
  <input type="text" class="scale-comments hidden">
  <br>






</form>