<h1>What symptom would you like to track?</h1>

<form action="/symptoms/add" method="POST">
  <input class="textInput" aria-label="Symptom to track" type="text" autocomplete='off' name="symptom" class="inline-input" placeholder="Enter symptom"
    required>
  <a href="/profile" class="button-links">Go Back</a>

  <button type="submit" name="button" class="add">Add</button>
  <br>
</form>