<h1>scale setup</h1>

<form action="/symptoms/scaleSetup" method="post" id="setUpScale">
  {{#times 10}}
  <div>
    <button id="symptom-{{this}}" class="scale-buttons" type="button">{{this}}</button>
    <input type="text" class="scale-comments hidden">
  </div>
  <br> {{/times}}

</form>

<a href="scaleInfo">back</a>
