<section class="sympFactAdd">
  <h1 class="title">What symptom would you like to track?</h1>
  <form class="form" action="/symptoms/add" method="POST">
    <input class="form--input form--input-placeholder" aria-label="Symptom to track" type="text" autocomplete='off' name="symptom"
      class="inline-input" placeholder="Enter symptom" required>
    <a href="/profile" class="button-links">Go Back</a>
    <button type="submit" name="button" class="button">Add</button>
    <br>
  </form>
</section>