<h1>Symptoms Home</h1>

<h2>Symptoms You're Tracking</h2>
<ul>
  {{#each symptomsList}}
  <div>
    <li id="{{this.symptom}}">{{this.symptom}}</li>
    <button class="delete" id="delete-{{this.symptom}}">Delete</button>
  </div>
  {{/each}}
</ul>

<a href="profile">Back</a>

<a href=" add ">add new symptom</a>