<h1>Customise Your Scale</h1>
<p>Adding comments to your scale will help you to remember what the numbers mean to you. We advise leaving at least two comments.</p>
<span>
  <a href="add" class="button-links">Go Back</a>
  <a href="scaleSetup" class="button-links">Next</a>
</span>