<div id='modal' role='dialog'>
    <h1>Instructions</h1>
    <p>Here are some instructions for how to use Correl</p>

    <div class='instructions' id='instructions-1'>
        <img class='instructions-1-img' src='/image/addSymFac.png' alt='Image of where to add symptoms and factors'>
        <p>To start tracking you need to set up the symptoms and factors you want to track</p>
    </div>

    <div class='instructions hidden' id='instructions-2'>
        <img class='instructions-2-img' src='/image/customScale.png' alt='Image of scale set up'>
        <p>You will be asked to ‘set up your scale’ by attaching comments to certain values to help you be consistent when entering
            your data </p>
    </div>

    <div class='instructions hidden' id='instructions-3'>
        <img class='instructions-3-img' src='/image/enterTodaysData.png' alt='An image of the input todays data button found on your profile page'>
        <p>Next, use this button to input data</p>
        <img class='instructions-3-img' src='/image/seeData.png' alt='An image of the see data button found on your profile page'>
        <p>And this to see your data</p>
        <img class='instructions-3-img' src='/image/graph.png' alt='An image of of a correl graph'>
        <p>click on the symptoms and factors you want to see on the graph</p>
    </div>

    <button id="next">Next</button>
    <button id="back">Back</button>
    <button aria-label='Close' id='close-modal'>
        <i class="fa fa-times"></i>
    </button>
</div>
<div id='overlay'></div>