<div id='modal' role='dialog'>
    <h1>Instructions</h1>
    <p>Here are some instructions for how to use Correl</p>

    <img src="image/pageOne.jpg" id="blue" class="box one">
    <img src="image/pageTwo.jpg" id="red" class="box two">
    <img src="image/pageThree.jpg" id="green" class="box three">

    <button id="next">next</button>
    <button id="back">back</button>
    <button id='close-modal'>Close</button>
</div>