<nav id="top-nav">
  <li>
    <img src="/assets/correl-c.png">
  </li>
  {{#if loggedOut}}
  <div class="cta-links">
    <li>Join</li>
    <li>Login</li>
  </div>

  {{else}}
  <div class="cta-links">
    <li>{{username}}</li>
    <li>Logout</li>
  </div>

  {{/if}}
</nav>