<nav id="top-nav">
  <li>
    <img src="">
  </li>
  {{#if loggedOut}}
  <li>  <a href="/register">join</a>  </li>
  <li>  <a href="/login">Login</a>  </li>

  {{else}}

   <li>{{username}}</li>
   <li> <a href="/">logout</a> </li>

 {{/if}}
</nav>
