<nav id="top-nav">
  <li>
    <img src="/assets/correl-c.png">
  </li>
  {{#if loggedOut}}
  <div class="cta-links">
    <li>
      <a href="/register">join</a>
    </li>
    <li>
      <a href="/login">Login</a>
    </li>
  </div>


  {{else}}
  <div class="cta-links">
    <li>{{username}}</li>
    <li>
      <a href="/">logout</a>
    </li>
  </div>

  {{/if}}
</nav>