<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
  {{>topNav}}
  <main>
    {{{body}}}
  </main>

  {{>bottomNav}}
  <script src="/logic.js"></script>
  <script src="/dom.js"></script>

</body>

</html>