<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
  {{>topNav}}
  <main>
    {{>modal}}
    {{{body}}}
  </main>

  {{>bottomNav}}
  <script src="/logic.js"></script>
  <script src="/dom.js"></script>
  <script src="/d3code.js"></script>
  <script src="https://d3js.org/d3.v5.js"></script>




</body>

</html>